{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Img de Mei!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt doloribus et! Repudiandae recusandae deleniti consectetur, voluptate vel quas amet soluta labore beatae dolor cum distinctio error natus. Possimus, delectus!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/mei-overwatch.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}